= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bot
    = f.text_field :bot
  .field
    = f.label :lesson
    = f.text_field :lesson
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :place
    = f.text_field :place
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :organizer
    = f.text_field :organizer
  .field
    = f.label :free
    = f.check_box :free
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :photo
    = f.text_field :photo
  .field
    = f.label :token
    = f.text_field :token
  .actions
    = f.submit 'Save'
