/ уникальный чат бота и уникального юзера
/       GET /api/bots/:id/all_bot_actions

.chat-body.clearfix
	.header
		%small.text-muted
			%span.glyphicon.glyphicon-time
			#{time_ago_in_words(bot_action.updated_at)} ago
		%strong.pull-right.primary-font Bot
	%p= return_bot_response
	
	- if Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence, rss: false).length >= 1
		
		/ Прикрепленные новости #{Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence, rss: false).length}:
		// Проверка на то, соответствует ли пост выбранным ранее интересам пользователям
		
		- Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence, rss: false).each do |post|
			- if current_user.filter_for_user(post)
				= post.title
				= post.body
				= link_to "Ссылка", post.link
				.image
					- if post.photo
						= image_tag(post.photo, class: "image")

	- if Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence, rss: true).length >= 1
									
		RSS:
		%br
		// Проверка на то, соответствует ли RSS выбранным ранее интересам пользователям
		- Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence, rss: true).each do |post|
		
			- if current_user.filter_for_user(post)
				- post.parse_rss.each do |entry|
					= link_to entry.title, entry.url
					= sanitize entry.summary
					- if @image
						= image_tag(entry.image.to_s, class: 'test')

	

	- if Check.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take
		- Check.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).each do |check| 
			= form_for Entity.new, url: entities_create_check_entity_path, remote: true do |f|
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :name, value: check.name
				= f.hidden_field :intent, value: check.intent
				= f.submit check.name, class: 'btn btn-sm', id: 'btn-chat'

		= form_for BotAction.new, url: bot_actions_process_user_input_path, remote: true do |f|
			.input-group
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: bot_action.intent
				= f.hidden_field :sequence, value: 2
				= f.hidden_field :user_input, value: "Done"
			%span.input-group-btn
				= f.submit "Done", class: 'btn btn-sm', id: 'btn-chat'

	- if Key.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take
		- Key.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).each do |key| 
			= form_for Entity.new, url: entities_create_check_entity_path, remote: true do |f|
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: key.intent
				= f.hidden_field :key, value: key.name
				= f.text_field :name
				= f.submit "+", id: 'btn-chat'

		= form_for BotAction.new, url: bot_actions_process_user_input_path, remote: true do |f|
			.input-group
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: bot_action.intent
				= f.hidden_field :sequence, value: 2
				= f.hidden_field :user_input, value: "Done"
			%span.input-group-btn
				= f.submit "Done", class: 'btn btn-sm', id: 'btn-chat'
	

			
		