.chat-body.clearfix
	.header
		%small.text-muted
			%span.glyphicon.glyphicon-time
			#{time_ago_in_words(bot_action.updated_at)} ago
		%strong.pull-right.primary-font Bot
	%p= return_bot_response
	- if Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).length >= 1
		Прикрепленная новость:
		= Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take.title
		= Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take.body
		= link_to "Ссылка", Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take.link
		.image
			= image_tag(Post.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take.photo, class: "image")
	- if Check.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take
		- Check.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).each do |check| 
			= form_for Entity.new, url: entities_create_check_entity_path, remote: true do |f|
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :name, value: check.name
				= f.hidden_field :intent, value: check.intent
				= f.submit check.name, class: 'btn btn-sm', id: 'btn-chat'

		= form_for BotAction.new, url: bot_actions_process_user_input_path, remote: true do |f|
			.input-group
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: bot_action.intent
				= f.hidden_field :sequence, value: 2
				= f.hidden_field :user_input, value: "Done"
			%span.input-group-btn
				= f.submit "Done", class: 'btn btn-sm', id: 'btn-chat'

	- if Key.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).take
		- Key.where(intent: bot_action.intent, bot_id: bot_action.bot_id, sequence: bot_action.sequence).each do |key| 
			= form_for Entity.new, url: entities_create_check_entity_path, remote: true do |f|
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: key.intent
				= f.hidden_field :key, value: key.name
				= f.text_field :name
				= f.submit "+", id: 'btn-chat'

		= form_for BotAction.new, url: bot_actions_process_user_input_path, remote: true do |f|
			.input-group
				= f.hidden_field :bot_id, value: bot_action.bot_id
				= f.hidden_field :intent, value: bot_action.intent
				= f.hidden_field :sequence, value: 2
				= f.hidden_field :user_input, value: "Done"
			%span.input-group-btn
				= f.submit "Done", class: 'btn btn-sm', id: 'btn-chat'
	

			
		