= form_for @bot do |f|
  - if @bot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bot.errors.count, "error")} prohibited this bot from being saved:"
      %ul
        - @bot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    = f.hidden_field :user_id, value: current_user.id
  / .field
  /   = f.label :user
  /   = f.text_field :user
  .actions
    = f.submit 'Save'
