%p#notice= notice

= link_to 'Edit', edit_bot_path(@bot)
\|
= link_to 'Back', bots_path
%p
  %b By:
  = @bot.user.email
%h1
  %b Bot:
  = @bot.name




%p
  %h3
    %b Intents:
%p Начни с интента. Intent - это то, вокруг чего построен короткий диалог из нескольких фраз.
%p Если интент начинает бот - выбери «bot intent», если пользователь - «user intent». «Hello intent» - приветствие бота при открытии чата. Default - когда бот что-то не понял.

%h5 
  + user intent

= form_for @user_intent do |f|
  / = f.label "+ user intent"
  = f.text_field :intent
  = f.hidden_field :bot_id, value: @bot.id
  = f.hidden_field :user_proactive, value: true
  = f.submit '+'


%ul
  - @user_intents.each do |lesson|
    %h4
      %b= lesson.intent
      = link_to 'Destroy',  lesson,  method: :delete, data: { confirm: 'Are you sure?' } 

    .row 
      .col-md-6
        = form_for @user_say do |f|
          .field
            = f.label "1. User says"
            = f.text_field :input
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'

        %ul
          - lesson.user_says.each do |user_say|
            %li= user_say.input
            = link_to 'Destroy', user_say,  method: :delete, data: { confirm: 'Are you sure?' } 



      .col-md-6
      
        = form_for @act do |f|
          .field
            = f.label "2. Bot responds"
            = f.text_field :bot_say
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
          / %ul
          /   %li= f.label "Link to API"
          /   = f.text_field :link
          /   %li= f.label "Yes or No Response expected from user"
          /   = f.check_box :yes_no

          /   %li= f.label "Repeating bot action"
          /   = f.check_box :recurrent

          /   %li= f.label "Repeat at"
          /   = time_select :shoot_at, :default => {:hour => '10', :minute => '20'}


          .actions
            = f.submit '+'
        %ul
          - lesson.acts.each do |act|
            %li= act.bot_say
            = link_to 'Destroy',  act,  method: :delete, data: { confirm: 'Are you sure?' } 







%h5 
  + bot intent

= form_for @bot_intent do |f|
  / = f.label "+ bot intent"
  = f.text_field :intent
  = f.hidden_field :bot_id, value: @bot.id
  = f.hidden_field :user_proactive, value: false
  = f.submit '+'


%ul
  - @bot_intents.each do |lesson|
    %h4
      %b= lesson.intent
      = link_to 'Destroy',  lesson,  method: :delete, data: { confirm: 'Are you sure?' } 



    .row 

      .col-md-6
      
        = form_for @act do |f|
          .field
            = f.label "1. Bot says"
            = f.text_field :bot_say
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
          / %ul
          /   %li= f.label "Link to API"
          /   = f.text_field :link
          /   %li= f.label "Yes or No Response expected from user"
          /   = f.check_box :yes_no

          /   %li= f.label "Repeating bot action"
          /   = f.check_box :recurrent

          /   %li= f.label "Repeat at"
          /   = time_select :shoot_at, :default => {:hour => '10', :minute => '20'}

           
          .actions
            = f.submit '+'
        %ul
          - lesson.acts.each do |act|
            %li= act.bot_say
            = link_to 'Destroy',  act,  method: :delete, data: { confirm: 'Are you sure?' } 



      .col-md-6
        = form_for @user_say do |f|
          .field
            = f.label "1. User might respond"
            = f.text_field :input
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'

        %ul
          - lesson.user_says.each do |user_say|
            %li= user_say.input
            = link_to 'Destroy',  user_say,  method: :delete, data: { confirm: 'Are you sure?' } 


      

