%p#notice= notice

= link_to 'Edit', edit_bot_path(@bot)
\|
= link_to 'Back', bots_path
%p
  %b By:
  = @bot.user.email
%h1
  %b Bot:
  = @bot.name





%p
  %h3
    %b Intents:
%p Начни с интента. Intent - это то, вокруг чего построен короткий диалог из нескольких фраз.
%p Если интент начинает бот - выбери «bot intent», если пользователь - «user intent». «Hello intent» - приветствие бота при открытии чата. Default - когда бот что-то не понял.

%h5 
  + user intent

= form_for @user_intent do |f|
  / = f.label "+ user intent"
  = f.text_field :intent
  = f.hidden_field :bot_id, value: @bot.id
  = f.hidden_field :user_proactive, value: true
  = f.submit '+'


%ul
  - @user_intents.each do |lesson|
    %h4
      %b= lesson.intent
      = link_to 'Destroy',  lesson,  method: :delete, data: { confirm: 'Are you sure?' } 

    .row 
      .col-md-6
        
        %h4 Если пользователь говорит
        %ul
          - lesson.user_says.each do |user_say|
            %li= user_say.input
            = link_to 'Destroy', user_say,  method: :delete, data: { confirm: 'Are you sure?' } 
        
        = form_for @user_say do |f|
          .field
            = f.label "Пользователь говорит"
            = f.text_field :input
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'



      .col-md-6
        
        %h4 Бот отвечат
        %ul
          - lesson.acts.each do |act|
            %li= act.bot_say
            = link_to 'Destroy',  act,  method: :delete, data: { confirm: 'Are you sure?' } 
        
        = form_for @act do |f|
          .field
            = f.label "Бот отвечает"
            = f.text_field :bot_say
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'
        
        / attached media
        %h5 Прикрепить к ответу:
        .col-md-2
          %h6 Post
          - if lesson.posts.length < 1 
            = form_for @post do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
          - else 
            = form_for lesson.posts.take do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
            =link_to "X", post_path(lesson.posts.take), method: :delete







%h5 
  + bot intent

= form_for @bot_intent do |f|
  = f.text_field :intent
  = f.hidden_field :bot_id, value: @bot.id
  = f.hidden_field :user_proactive, value: false
  = f.submit '+'
  / attached media


%ul
  - @bot_intents.each do |lesson|
    %h4
      %b= lesson.intent
      = link_to 'Destroy',  lesson,  method: :delete, data: { confirm: 'Are you sure?' } 

    .row 
      .col-md-6
        
        %h4 Бот говорит первый
        %ul
          - lesson.acts.where(proactive: true).each do |act|
            %li= act.bot_say
            = link_to 'Destroy',  act,  method: :delete, data: { confirm: 'Are you sure?' } 
        
        = form_for @act do |f|
          .field
            = f.label "Бот говорит"
            = f.text_field :bot_say
            = f.hidden_field :intent, value: lesson.intent + "_act_first"
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.hidden_field :proactive, value: true
            = f.submit '+'

        %h5 Прикрепить к ответу:
        .col-md-2
          %h6 Post
          - if lesson.posts.where(proactive: true).length < 1 
            = form_for @post do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.hidden_field :proactive, value: true
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
          - else 
            = form_for lesson.posts.where(proactive: true).take do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
                =link_to "X", post_path(lesson.posts.take), method: :delete



      .col-md-6
        
        %h4 Пользователь отвечает в духе:
        %ul
          - lesson.user_says.each do |user_say|
            %li= user_say.input
            / %li= user_say.intent
            = link_to 'Destroy',  user_say,  method: :delete, data: { confirm: 'Are you sure?' } 
        
        = form_for @user_say do |f|
          .field
            = f.label "Пользователь отвечает"
            = f.text_field :input
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'

      .col-md-6
        
        %h4 Бот реагирует на ответ
        %ul
          - lesson.acts.where(proactive: false).each do |act|
            %li= act.bot_say
            / %li= act.intent
            = link_to 'Destroy',  act,  method: :delete, data: { confirm: 'Are you sure?' } 
        
        = form_for @act do |f|
          .field
            = f.label "Бот реагирует на ответ"
            = f.text_field :bot_say
            = f.hidden_field :intent, value: lesson.intent
            = f.hidden_field :bot_id, value: @bot.id
            = f.hidden_field :lesson_id, value: lesson.id
            = f.submit '+'

        %h5 Прикрепить к ответу:
        .col-md-2
          %h6 Post
          - if lesson.posts.where(proactive: false).length < 1 
            = form_for @post do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
          
          - else 
            = form_for lesson.posts.where(proactive: false).take do |f|
              .field  
                = f.hidden_field :bot_id, value: @bot.id
                = f.hidden_field :lesson_id, value: lesson.id
                = f.hidden_field :intent, value: lesson.intent
                = f.label :title
                = f.text_field :title            
                = f.label :body
                = f.text_area :body
                = f.label :link
                = f.text_field :link
                = f.label :photo
                = f.text_field :photo
              .actions
                = f.submit 'Save'
                =link_to "X", post_path(lesson.posts.take), method: :delete


      

